.add-user-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.table-container {
    padding: 20px;
    margin: 20px;
}

.add-btn {
    width: 125px;
}

tr {
    height: 100px;
}

.table th, .table td {
    vertical-align: middle !important;
}

.table .thead-light th {
    vertical-align: middle;
}

